<ion-nav-view>
<ion-content>


  <div ng-repeat="item in items" class=" item item-checkbox" style = "border : none">
    <label class="checkbox">
       <input type="checkbox"  ng-model="item.selected" >
     </label>
     {{item.text}}
  </div>
  <div class=" item item-input" style = "border : none">
  <span class="item" style = "border : none">Otro motivo: </span>
     <label class="item item-input" >
       <input type="text"ng-model="$parent.otro"></input>
     </label>

    
  </div>  

<h6> *Los reclamos serán enviados a la casilla de correo de la secretaría general de becas para su analisis</h6>
<button class="button button-block button-assertive" ng-click="sendEmail()">Enviar Email</button>
</ion-content>
</ion-nav-view>