/* Empty. Add your own CSS if you like */
html{
  /*background-color: #dd3333 !important;*/
}
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.bar-assertive{
  background-color: #ED3237 !important;
}
.button-assertive{
  background-color: #ED3237 !important;
}
.checkbox-assertive input:before, .checkbox-assertive .checkbox-icon:before {
  border-color: #ED3237 !important;
}
.checkbox-assertive input:checked:before, .checkbox-assertive input:checked + .checkbox-icon:before {
  background:  #ED3237 !important;
  border-color:  #ED3237 !important;
}
.done {
  text-decoration: line-through;
}
.menu{
  text-align: left;
}
/********Home*******/
.text-center{
  text-align: center;
}
.link{
  color:#4F8EF7 !important;
}
.link:hover, .link:focus {
  color: #0b62ef !important;
}
.scroll{
  height: 100%;
}
#map{
  height: 100%;
  width: 100%;
}
.popover {
  height: auto !important;
}
.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  top: 0;
  position: relative;
}