/* Empty. Add your own CSS if you like */
html{
  /*background-color: #dd3333 !important;*/
}
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.keyboard-open .tabs{
  display:none;
  }
.keyboard-open .has-tabs{
 bottom:0;
 }
.done {
  text-decoration: line-through;
}
.menu{
  text-align: left;
}
/********Home*******/
.text-center{
  text-align: center;
}
.link{
  color:#4F8EF7 !important;
}
.link:hover, .link:focus {
  color: #0b62ef !important;
}

.scroll{
  height: 100%;
}
#map{
  height: 100%;
  width: 100%;
}
.popover {
    height: auto !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}